<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>FAQ</title> 
    <link rel="stylesheet" href="/css/styles.css"> 
</head> 
<body> 
    <header> 
        <h1>Frequently Asked Questions</h1> 
    </header> 
    <nav> 
        <a href="/">Home</a> 
        <a href="/areas">Areas</a> 
        <a href="/faq">FAQ</a> 
        <a href="/contact">Contact</a> 
    </nav> 
    <main> 
        <section> 
            <h2>Have Questions? We Have Answers!</h2> 
            <p>Here are some of the most common questions we get asked by our 
visitors.</p> 
            <ul> 
                <li><strong>When is the park open?</strong> The park is open every day from 
April to October, 9am to 7pm.</li> 
                <li><strong>Is parking available?</strong> Yes, we have ample parking available 
for all visitors.</li> 
                <li><strong>Can we bring our own food?</strong> Yes, you can bring your own 
food, but there are also many dining options available in the park.</li> 
                <li><strong>What age group is the park suitable for?</strong> The park offers 
attractions for all age groups, from thrilling rides to family-friendly activities.</li> 
            </ul> 
        </section> 
        <div class="iframe-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1187.2697727142033!2d-2.2436124287562467!3d53.476688797554054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb1ea7cb0c317%3A0xf1d7b5a128a03c2b!2sTurtle%20Bay%20Manchester%20Oxford%20Rd!5e0!3m2!1spl!2suk!4v1721899985357!5m2!1spl!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main> 
    <footer> 
        <p>&copy; 2024 Theme Park. All Rights Reserved.</p> 
    </footer> 
</body> 
</html> 