<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="faq-body">
    <header>
        <h1>Frequently Asked Questions</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/areas">Areas</a>
        <a href="/faq">FAQ</a>
        <a href="/contact">Contact</a>
        <a href="/attractions">Attractions</a>
    </nav>
    <main>
        <section class="faq-container">
            <h2>7/8/9 Theme Park FAQ</h2>
            <ul class="faq-list">
                <li><strong>What does 7/8/9 stands for?</strong>
                    <p>7/8/9 stands for 70s/80s and 90s, our favourite eras. We hope to capture these nostalgic vibes
                        and present them to you in the form of the greates theme park ever!</p>
                </li>
                <li><strong>What are the operating hours of the park?</strong>
                    <p>Our park is open daily, April-October from 9 AM to 7 PM, capturing the nostalgia of the 70s, 80s,
                        and 90s era in all its glory!</p>
                </li>
                <li><strong>Is there any retro-styled food available?</strong>
                    <p>Yes! We offer retro classics like 80s arcade snacks, 70s soda fountains, and 90s pizza parlors
                        that will take you on a trip down memory lane.</p>
                </li>
                <li><strong>Are the rides based on themes from the 70s/80s/90s?</strong>
                    <p>Absolutely! Enjoy rides inspired by pop culture from these iconic decades, featuring music,
                        movies, and classic TV shows from each era.</p>
                </li>
                <li><strong>Do you offer vintage souvenirs?</strong>
                    <p>Yes! Our gift shops are stocked with vintage-themed souvenirs, including retro posters, toys, and
                        exclusive 70s/80s/90s apparel.</p>
                </li>
                <li><strong>Can I dress in 70s/80s/90s fashion at the park?</strong>
                    <p>We encourage it! Get into the spirit of the park by donning your best bell-bottoms, neon
                        tracksuits, or grunge flannels for a fully immersive experience.</p>
                </li>
            </ul>

            <br>
            <p>&emsp;Here's a map of our location</p>
            <br>

        </section>

        <div class="iframe-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1187.2697727142033!2d-2.2436124287562467!3d53.476688797554054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb1ea7cb0c317%3A0xf1d7b5a128a03c2b!2sTurtle%20Bay%20Manchester%20Oxford%20Rd!5e0!3m2!1spl!2suk!4v1721899985357!5m2!1spl!2suk"
                width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 7/8/9 Theme Park. All Rights Reserved.</p>
    </footer>
</body>

</html>