/* CTRL+/ */
/*  Three types of css
1. In text css
2.Embedded
3.External */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    /* Multiple selectors */
/* h1,h2,h7,p{
    color: blue;
} */
 
body{
    background-color: #45503B;
    color: #F4FFF8;
}

.para1{
    color: #B098A4;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    color: #DBD9DB;
    font-family: 'Courier New', Courier, monospace;
    border-style: dashed;
}